<h1> New Idea: </h1>

<%= flash[:error] %>
<%= form_for(@idea) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :category_id, "Category" %><br>
  <%= f.collection_select :category_id, Category.all, :id, :name, {}, {class: 'browser-default'}%><br><br>
  <%= f.submit "Create Idea" %>
<% end %>
