<h1> New Image: </h1>

<%= form_for(@image, url: admin_images_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <%= f.submit "Create Image" %>
<% end %>
